@{ var account = (StructuredAccountForm)ViewBag.AccountStructure; }

@helper Box(string iconUrl, string title, Func<object, object> body)
{
    <h4 class="clearfix">
        <img src="@Url.Content(@iconUrl)" alt="@title" />
        @title
        <span class="pull-right">
            @Html.BtActionLink("Add", buttonType: ButtonType.Add, htmlAttributes: new { @class = "add-item" })
        </span>
    </h4>
    <div class="panel panel-default">
        <div class="panel-body">
            @body.DynamicInvoke(this.ViewContext)
        </div>
    </div>
}

@* Customer structure box: *@
@if (account != null)
{
    <div class="structure-box">
        @Box("~/Static/img/icons/account.png", "Customer Structure", @<ul class="compact-list">
            <li>
                @* We have to use "Id = UrlParameter.Optional" which prevents currently displayed entry's ID from being automatically filled in into the URL: *@
                <div class="customer-item" data-child-form-url="@Url.Action("Index", "LegalEntity", new { Id = UrlParameter.Optional, AccountId = @account.Id })">
                    @account.Name
                    <div class="pull-right">
                        @Html.ActionLink("View", "Index", "Account", new { Id = @account.Id }, null)
                    </div>
                </div>
                <ul>
                    @foreach (var legalEntity in account.LegalEntities)
                    {
                        <li>
                            <div class="customer-item" data-child-form-url="@Url.Action("Index", "AccessPoint", new { Id = UrlParameter.Optional, LegalEntityId = @legalEntity.Id })">
                                @legalEntity.Name
                                <div class="pull-right">
                                    @Html.ActionLink("View", "Index", "LegalEntity", new { Id = @legalEntity.Id }, null)
                                </div>
                            </div>
                            <ul>
                                @foreach (var site in legalEntity.Sites)
                                {
                                    <li>
                                        <div class="customer-item">
                                            @site.Name
                                            <div class="pull-right">
                                                <a href="javascript://nop">View</a>
                                            </div>
                                        </div>
                                        <ul>
                                            @* TODO: metering points:
                                                @foreach (var meteringPoint in site.)
                                                {
                                                    @meteringPoint.Name
                                                    <div class="pull-right">
                                                        @Html.ActionLink("Index", "LegalEntity", new { Id = @legalEntity.Id })
                                                    </div>

                                                }*@
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        </ul>
        )
    </div>
}

@* Profiles box: *@
@Box("~/Static/img/icons/profiles.png", "Profiles",
@<text>&nbsp;</text>
)

@if (account != null && account.Id > 0)
{
    <div class="panel panel-yellow padded">
        <strong>Customer created on <i>???</i> at 12:00 by <i>???</i></strong><br />
    </div>
}
