@using BookProgress.Web.Controllers
@using BookProgress.Web.Helpers

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - BookProgress</title>

    @Styles.Render("~/Static/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="header">

        <a href="@Url.Action("List", "Customers")">
            <img src="@Url.Content("~/Static/img/book-5.png")" alt="Engie" id="logo" />
        </a>

        <div id="headerInfo">

            @if (BaseController.Debug)
            {
                <span id="debugModeMessage"><i class="fa fa-bug"></i>&nbsp;Debug Mode</span>
            }

            <div id="rightSide">
                <div id="appName">
                    BookToRead 0.1
                </div>
                <div id="country">
                    RU @*TODO: Add multiculturalism :)*@
                    <img src="@Url.Content("~/Static/img/flag-nation-country-russia-128.png")" />
                </div>
            </div>

        </div>

    </div>

<nav id="default-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <span><img src="~/Static/img/book.png" /></span>
                @if (ViewBag.Title != null)
                {
                    @ViewBag.Title
                }
            </a>



</div>
        <div class="collapse navbar-collapse navbar-right">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search and add the book...">
                </div>
                @*<button type="submit" class="btn btn-default">Submit</button>*@
            </form>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                
                <li><a href="@Url.Action("LogOff", "Account")">&nbsp;Logout</a></li>
            </ul>

        </div>
    </div>

</nav>

@RenderPage("_StatusMessages.cshtml")

    <div id="body">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    @RenderPage("_DebugMessages.cshtml")

    @* App version: *@
    <div id="app-version">@Html.ApplicationVersion()</div>

    <div id="ajax-loader" style="display: none;">
        <div id="ajax-loader-overlay"></div>
        <div id="ajax-loader-image" class="panel panel-default"></div>
    </div>

</body>
</html>