@using BookProgress.Web.Helpers
@using BookProgress.Web.Helpers.Utils
@{
    ViewBag.Title = "BookDTO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>@RenderSection("FormTitle", required: true)</h4>
            <div class="panel panel-default compact-panel panel-customer-entity">

                <div class="panel-body">
                    @using (Html.BtForm())
                    {
                        <div class="validation-summary-errors">@Html.BtValidationSummary()</div>
                        
                        <div class="form-horizontal">
                            @RenderBody()
                        </div>

                        <div class="btn-toolbar">
                            @Html.BtSubmitButton("Save", ButtonType.Default)
                            @Html.BtConfirmButton("Cancel", "Are you sure?", ButtonType.Default, okRedirect: Url.Action("List", "Customers"))
                            @RenderSection("DeactivateActionLink", required: false)
                        </div>
                    }
                </div>

            </div>
        </div>

        <script type="text/javascript">

            function updateHiddenOnSelected() {
                // RESET PREVIOUS SELECTED ROW
                $(this).closest("table").find("[name*='SelectedInForm']").val("False");
                $(this).find("[name*='SelectedInForm']").val("True");
            };

            $(function () {

                var handleEntityForm = function (listItemResponse, $popoverTrigger, $formToRefresh) {
                    var popoverElement = modals.showPopover($popoverTrigger, $(listItemResponse).html());

                    //HANDLE SUBMIT IN POPOVER FORM
                    ajax.onFormSubmitResponse(popoverElement, function (formSubmitResponse) {
                        var $formSubmitResponse = $(formSubmitResponse);
                        if ($formSubmitResponse.closest(".form-content").size() > 0) {
                            $(popoverElement).find(".form-content").html($formSubmitResponse.closest(".form-content").html())
                        } else {
                            $popoverTrigger.popover("hide");
                            ajax.submitSubform($formToRefresh, function (refreshListResponse) {
                                $formToRefresh.html($(refreshListResponse).html())
                            }, formSubmitResponse)
                            return false;
                        }
                    });
                };

                $(document.body).on("click", "button.new-entity", function () {
                    var $addLink = $(this);
                    $.get($addLink.data("popover-url"), function (response) {
                        handleEntityForm(response, $addLink, $addLink.closest(".section-separator").closest(".subform"));
                    });
                });

                $(document.body).on("click", "a.list-item-subform-submit", function () {
                    var $popoverTrigger = $(this);
                    ajax.submitSubform(this, function (popoverResponse) {
                        handleEntityForm(popoverResponse, $popoverTrigger, $popoverTrigger.closest(".section-body").closest(".subform"));
                    });
                    return false;
                });
            })
        </script>

        <div class="col-md-3">
            @if (true) // todo: only for already saved customers
            {
               // @RenderPage("_CustomerRightPanel.cshtml")
            }
        </div>
    </div>
</div>