@using BookProgress.Web.Helpers
@using BookProgress.Web.Helpers.Utils
@model List<BookProgress.Web.Models.UserProfile>
@{
    Layout = "~/Views/Shared/_LayoutCustomerEntitySection.cshtml";
    ViewBag.ContactFormLayout = "~/Views/Shared/_LayoutPopover.cshtml";
    ViewBag.WrapingSubform = new Func<Subform>(() => Html.BeginSubForm("RefreshList", "Contact", m => m, "div"));
}

@if (Model != null && Model.Count > 0)
{ 
    using (var paging = Html.BtPaging())
    {
        using (var table = Html.BtTable())
        {
            <thead>
                @table.Header("Type")
                @table.Header("Name")
                @table.Header("Language")
                @table.Header("Function")
                @table.Header("Telephone")
                @table.Header("E-mail Address")
            </thead>

            <tbody>
            @foreach (var i in Enumerable.Range(0, Model.Count))
            {
                <tr class="@paging.ItemClass">
                    <td>@Model[i].ContactType</td>
                    <td>
                        @using (Html.BeginSubForm("Index", "Contact", m => m[i]))
                        {
                            <a href="javascript://nop/" class="list-item-subform-submit">@Model[i].UserName @Model[i].UserName</a>
                            @Html.HiddensForProperties(m => m[i])
                        }
                    </td>
                    <td>@Model[i].UserName</td>
                    <td><a href="mailto:@Model[i].Email">@Model[i].Email</a></td>
                </tr>
            }
            </tbody>
        }
        @paging.Toolbar(Model.Count)
    }
}
else
{
    <div class="no-records">No contacts</div>
}


@section title {
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Contact(s)
}

@section buttons {
    @Html.BtButton("Add Contact", ButtonType.Add, "button-add-contact", false, new { @class = "new-entity popover-trigger", data_popover_content_placement = "left", data_popover_url = @Url.Action("Index", "Contact") })
}